/* Base */
body {
    font-size: 13px;
    font-family: helvetica;
    background: #eee;
    margin: 0;
    overflow: hidden; 
}

header {
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #ccc;
	padding: 15px 0;
}

header h1 {
	margin: 0;
	float: left;
}

h1, h2, h3, h4, h5 {
	margin: 0 0 10px;
}

label {
    display: block;
}

/* Header */
header .wrapper {
	width: 720px;
	margin: 0 auto;
}

header ul {
	float: right;
	padding: 0;
	margin: 10px 0 0;
}

header ul li {
	float: left;
	list-style-type: none;
	margin-left: 25px;
}

/* Content */
.content {
	width: 720px;
	margin: 15px auto;
}

.grey-theme {
	background: #eee;
	color: #333;
}

.login-form {
	width: 320px;
	margin: 100px auto;
	background: #fff;
	padding: 20px;
	border: 1px solid #c3c3c3;
	font-size: 14px;
}

.login-form input[type=text], .login-form input[type=password] {
	width: 94%;
	margin: 0 0 10px;
}

input[type=text], input[type=password] {
	display: block;
	font-size: 18px;
	padding: 5px;
	border: 1px solid #ccc;
	background: #f9f9f9;
}

input[type=submit], input[type=button], button {
	font-size: 14px;
	font-weight: bold;
	color: #555;
	background: #fff;
	padding: 5px;
	border: none;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 0 #ccc;
}

/* All rounded */
.rounded { border-radius: 3px; box-shadow: 0 2px 0 #ccc; }
input { border-radius: 3px; }

.warning {
	width: 94%;
	margin: 10px 0;
	background: #FFEFCC;
	border: 1px solid #D63636;
	padding: 2%;
	display: block;
}

/* Project card */
.project-card {
	width: 230px;
	height: 100px;
	background: #fff;
	margin: 10px 10px 0 0;
	border: 1px solid #fff;
	float: left;
	cursor: pointer;
}

.project-card:nth-child(3n+3) {
	margin: 10px 0 0 0;
}

.project-card .bottom-half {
	background: #eee;
	height: 34px;
	margin-top: 65px;
	border-top: 1px solid #ccc;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

.project-card .bottom-half h2 {
	margin: -15px 0 0 10px;
	text-shadow: 0 0 5px #fff;
}

/* Todo lists */

.list-wrapper {
	width: 480px;
	float: left;
	margin-right: 10px;
}

.list-box {
	width: 460px;
	background: #fff;
	padding: 10px;
}

.list-box ul {
	padding: 0;
	margin: 0;
}

.list-box ul li {
	list-style-type: none;
}

.list-box .time-estimate {
	color: #fff;
	font-weight: bold;
	font-size: 9px;
	border-radius: 10px;
	padding: 4px;
	background: orange;
	margin-right: 5px;
}

.log-box {
	float: left;
	width: 220px;
	padding: 5px;
	background: #fff;
	color: #ccc;
}