{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Pyject{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "normalize.css" %}">
    </head>

    <body class="{% block body_classes %}main{% endblock %}">
        <header>
            <div class="wrapper">
                <h1>{% block heading %}Pyject{% endblock %}</h1>

                <ul>
                    <li>Projects</li>
                    <li>Users</li>
                </ul>
                <div style="clear: both;"></div>
            </div>
        </header>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>