/* General */
/* # Border, rounded corners and hard shadow */
.m-project-card, .m-notification-alert, .m-wrapper,
.m-add-task, .m-login-form {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 2px 0 #ccc;
}

/* # Cursor pointer */
.m-project-card, .m-notification-alert {
    cursor: pointer;
}

/* # List-style-type none */
.m-menu li, .m-todo-list {
    list-style-type: none;
}

/* # Standard padding */
/* # # 10 px */
.m-wrapper, .m-login-form {
    padding: 10px;
}

/* # # 0 px */
.m-todo-list {
    padding: 0px;
}

/* General end */

/* Project card */

.m-project-card {
    width: 226px;
    height: 100px;
    background: #fff;
    margin: 15px 15px 2px 0;
    float: left;
}

.m-project-card:nth-child(4n+4) {
    margin: 15px 0 2px 0;
}

.m-project-card .bottom-half {
    background: #eee;
    background: rgba(0, 0, 0, .1);
    height: 34px;
    margin-top: 65px;
    border-top: 1px solid #ccc;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.m-project-card .bottom-half h2 {
    margin: -15px 0 0 10px;
    text-shadow: 1px 1px 3px #fff, -1px -1px 3px #fff;
}

/* Menu */

.m-menu {
    float: right;
    padding: 0;
    margin: 10px 0 0;
}

.m-menu li {
    float: left;
    margin-left: 5px;
}

.m-menu a {
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
}

/* Notification alert */

.m-notification-alert {
    float: right;
    background: #e6413f;
    color: #fff;
    font-weight: bold;
    padding: 5px;
    margin: 5px 0 0 15px;
    border: none;
}

/* Todo lists */

.m-add-task {
    float: left;
    margin-right: 10px;
    padding: 0 10px 0 0;
}

.m-add-task input {
    background: #fff;
    border: none;
    display: inline;
    outline: none;
}

.m-add-task input:first-child {
    width: 470px;
}

.m-add-task input:last-child {
    width: 49px;
    border-left: 1px solid #eee;
}

.m-todo-list li {
    margin: 3px 0;
}

.m-todo-list input[type=checkbox] {
    vertical-align: top;
}

.m-todo-list label div {
    display: inline-block;
    max-width: 575px;
    margin-left: 10px;
}

/* Login */
.m-login-form {
    width: 280px;
    margin: 0 auto;
    background: #fff;
    font-size: 12pt;
    margin-top: 100px;
}

.m-login-form input {
    margin: 1px 0;
}