/* Base */
body {
    font-size: 13px;
    font-family: helvetica;
    background: #fff;
    margin: 0;
    overflow: hidden; 
}

header {
	width: 100%;
	padding: 15px 0 0;
}

header h1 {
	margin: 0;
	float: left;
}

h1, h2, h3, h4, h5 {
	margin: 0 0 10px;
}

label {
    display: block;
}

/* Header */
header .wrapper {
	width: 960px;
	margin: 0 auto;
}

header ul {
	float: right;
	padding: 0;
	margin: 10px 0 0;
}

header ul li {
	float: left;
	list-style-type: none;
	margin-left: 15px;
}

header .menu a {
	text-decoration: none;
	color: #000;
	padding: 5px;
}

header .menu a:hover {
	background: #eee;
	padding: 5px;
	border-radius: 5px;

	-webkit-transition: background .5s;
	-moz-transition: background .5s;
	-o-transition: background .5s;
	transition: background .5s;
}

/* Content */
.content {
	width: 960px;
	margin: 15px auto;
	border-top: 1px solid #ccc;
}

.grey-theme {
	background: #eee;
	color: #333;
}

.grey-theme .content {
	border-top: none;
}

.login-form {
	width: 320px;
	margin: 100px auto;
	background: #fff;
	padding: 20px;
	border: 1px solid #c3c3c3;
	font-size: 14px;
}

.login-form input[type=text], .login-form input[type=password] {
	width: 94%;
	margin: 0 0 10px;
}

input[type=text], input[type=password] {
	display: block;
	font-size: 18px;
	padding: 5px;
	border: 1px solid #ccc;
	background: #f9f9f9;
}

input[type=submit], input[type=button], button {
	font-size: 14px;
	font-weight: bold;
	color: #555;
	background: #fff;
	border: 1px solid #ccc;
	padding: 5px;
	box-shadow: 0 2px 0 #ccc;
	margin-top: 1px;
}

/* All rounded */
.rounded { border-radius: 3px; box-shadow: 0 2px 0 #ccc; }
.border { border: 1px solid #ccc;}
input { border-radius: 3px; }

.warning {
	width: 94%;
	margin: 10px 0;
	background: #FFEFCC;
	border: 1px solid #D63636;
	padding: 2%;
	display: block;
}

/* Project card */
.project-card {
	width: 226px;
	height: 100px;
	background: #fff;
	margin: 15px 15px 2px 0;
	float: left;
	cursor: pointer;
}

.project-card:nth-child(4n+4) {
	margin: 15px 0 2px 0;
}

.project-card .bottom-half {
	background: #eee;
	height: 34px;
	margin-top: 65px;
	border-top: 1px solid #ccc;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

.project-card .bottom-half h2 {
	margin: -15px 0 0 10px;
	text-shadow: 0 0 5px #fff;
}

/* Todo lists */

.list-wrapper {
	width: 540px;
	float: left;
	margin: 15px 17px 0 0;
}

.list-box {
	width: 520px;
	background: #fff;
	padding: 10px;
}

.list-box ul {
	padding: 0;
	margin: 0;
}

.list-box ul li {
	list-style-type: none;
	margin: 3px 0;
}

.list-box label div {
	max-width: 490px;
	display: inline-block;
}

.list-box input[type=checkbox] {
	vertical-align: top;
	margin: 3px 5px 0 0;
}

.list-box .time-estimate {
	color: #fff;
	font-weight: bold;
	font-size: 9px;
	border-radius: 10px;
	padding: 4px;
	background: orange;
	margin: -3px 5px 0 0;
	float: left;
}

.log-box {
	float: left;
	width: 380px;
	padding: 10px;
	background: #fff;
	color: #ccc;
	margin: 15px 0;
}

.add-task {
	border: 1px solid #ccc;
	width: 472px;
	color: #555;
	padding: 0;
	float: left;
	margin: 0 5px 10px 0;
}

.add-task input {
	border: none;
	padding: 5px 5px;
	background: none;
	display: inline;
	font-size: 10pt;
	color: #555;
	outline: none;
}

.task-input {
	width: 80%;
	border-right: 1px solid #eee !important;
	border-radius: 0 0 0;
}

.tiny-input {
	width: 35px;
	padding-right: 0;
}

.align-right {
	text-align: right;
}

/* Notifications */

.notification-alert {
	float: right;
	background: #e6413f;
	color: #fff;
	font-weight: bold;
	padding: 5px;
	margin: 5px 0 0 15px;
	cursor: pointer;
}

.accent-bg { background: #e6413f; }
.accent-color { color: #e6413f; }