{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Pyject{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}">
        <script type="text/javascript" src="{% static "js/jquery1.8.1-min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/selectivizr-min.js" %}"></script>
    </head>

    <body class="main grey-theme">
        <div class="content">
            <div class="login-form rounded">
                <form method="post" action="/users/validate/">
                    {% csrf_token %}
                    <h1>Authentication</h1>
                    {% if error_message %}<span class="warning rounded">{{ error_message }}</span>{% endif %}
                    <label>Username or email: <input type="text" name="email" id="email" required></label>
                    <label>Password: <input type="password" name="password" id="password" required></label>
                    <input type="submit" value="Log in">
                </form>
            </div>
        </div>
    </body>
</html>